<div class="flex">

  <turbo-frame id="reviews">
    <table class="w-full text-sm">
      <thead>
        <tr>
          <th>Company</th>
          <th>Channel</th>
          <th>Rating</th>
          <th>Date</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% @reviews.each do |review| %>
        <tr>
          <td><%= review.company_name %></td>
          <td><%= review.channel %></td>
          <td><%= "★" * review.rating %></td>
          <td><%= review.review_date %></td>
          <td><%= truncate(review.description, length: 80) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <%= pagy_nav(@pagy).html_safe %>
  </turbo-frame>
</div>