<div class="flex gap-4">
  <%= render partial: "filters" %>

  <div class="w-3/4">
    <turbo-frame id="reviews">
      <table class="table-auto w-full text-sm border">
        <thead>
          <tr>
            <th>Company</th>
            <th>Channel</th>
            <th>Rating</th>
            <th>Date</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @reviews.each do |review| %>
          <tr class="border-t">
            <td><%= review.company_name %></td>
            <td><%= review.channel %></td>
            <td><%= "★" * review.rating %></td>
            <td><%= review.review_date.strftime("%b %-d, %Y") %></td>
            <td><%= truncate(review.description, length: 80) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <%= pagy_nav(@pagy).html_safe %>
    </turbo-frame>
  </div>
</div>

<div>
  <% nps_data = NpsScore.all.group_by(&:company_name).transform_values do |scores|
  {
    promoters: scores.sum(&:promoters_count),
    passives: scores.sum(&:passives_count),
    detractors: scores.sum(&:detractors_count)
  }
end %>

  <div class="my-8">
    <canvas data-controller="nps-chart" data-nps-chart-data-value='<%= raw nps_data.to_json %>' width="400" height="200"></canvas>
  </div>
</div>